Repository samfrons/Messai.io: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected -t lint --fix, nx affected -t type-check, prettier --write

documentation
  .editorconfig
  .eslintrc.json
  .gitignore
  .nvmrc
  CLAUDE.md
  README.md
  apps/web/next.config.js
  apps/web/src/lib/auth/auth-options.ts
  apps/web/src/lib/citation-verifier.ts
  apps/web/src/lib/control-system-simulation.ts
  apps/web/src/lib/database-utils.ts
  apps/web/src/lib/db.ts
  apps/web/src/lib/demo-mode.ts
  apps/web/src/lib/fuel-cell-optimization.ts
  apps/web/src/lib/fuel-cell-predictions.ts
  apps/web/src/lib/parameters-data.ts
  apps/web/src/lib/types/fuel-cell-types.ts
  apps/web/src/lib/unified-systems-catalog.ts
  apps/web/src/lib/zen-browser.ts
  apps/web/tsconfig.json
  docs/ARCHITECTURE.md
  docs/CONFIGURATION_GUIDE.md
  docs/DEVELOPMENT.md
  docs/LIBRARY_REFERENCE.md
  docs/technical/BUILD_SYSTEM_FIXES.md
  docs/technical/IMPROVEMENT_TRACKER.md
  package.json
  packages/@messai/core/project.json
  packages/@messai/ui/project.json
  pnpm-lock.yaml
  tests/setup.ts
  vercel.json
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

feat: Implement comprehensive Research Intelligence, Parameters Database, and 3D Modeling Lab
  apps/web/app/api/papers/semantic-search/route.ts
  apps/web/app/api/parameters/compatibility/route.ts
  apps/web/app/api/research/knowledge-graph/route.ts
  apps/web/app/models/3d-showcase/page.tsx
  apps/web/app/models/page.tsx
  apps/web/app/parameters/enhanced/page.tsx
  apps/web/app/research/enhanced/page.tsx
  apps/web/components/3d/README.md
  apps/web/components/3d/biofilm/BiofilmSimulation.tsx
  apps/web/components/3d/bioreactor/BioreactorModel.tsx
  apps/web/components/3d/bioreactor/Chamber.tsx
  apps/web/components/3d/bioreactor/Electrodes.tsx
  apps/web/components/3d/bioreactor/FlowSystem.tsx
  apps/web/components/3d/bioreactor/Membrane.tsx
  apps/web/components/3d/core/Controls.tsx
  apps/web/components/3d/core/Lighting.tsx
  apps/web/components/3d/core/Materials.tsx
  apps/web/components/3d/core/Scene.tsx
  apps/web/components/3d/utils/animations.ts
  apps/web/components/3d/utils/geometries.ts
  apps/web/components/3d/utils/materials.ts
  apps/web/components/ConditionalLayout.tsx
  apps/web/components/Navigation.tsx
  apps/web/components/research/knowledge-graph.tsx
  apps/web/package.json
  docs/FEATURES_IMPLEMENTED.md
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

something
  .DS_Store
  apps/web/app/models/3d-showcase/page.tsx
  apps/web/components/3d/biofilm/BiofilmSimulation.tsx
  apps/web/components/3d/core/Materials.tsx
  apps/web/components/3d/core/Scene.tsx
  apps/web/src/lib/parameters-data.ts
  apps/web/src/lib/unified-systems-catalog.ts
  apps/web/tsconfig.json
  packages/@messai/ui/src/hooks/index.ts
  pnpm-lock.yaml
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

commit
  apps/web/app/models/3d-showcase/page.tsx
  apps/web/app/parameters/enhanced/page.tsx
  apps/web/app/parameters/page.tsx
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

feat: Update styles to match Caladan Bio aesthetic
  apps/web/app/globals.css
  apps/web/package.json
  packages/@messai/ui/src/components/index.tsx
  pnpm-lock.yaml
  tailwind.config.ts
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

fixed vercel thing
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/components/ui/CaladanIcons.tsx
  apps/web/components/ui/ParameterCard.tsx
  apps/web/src/lib/parameters-data.ts
  vercel.json
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

vercel?
  apps/web/app/parameters/page.tsx
  apps/web/src/lib/parameters-data.ts
  vercel.json
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

3d model on homepage
  .DS_Store
  apps/web/app/experiment/[id]/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/lcars/page.tsx
  apps/web/app/onboarding/page.tsx
  apps/web/app/page.tsx
  apps/web/app/parameters/enhanced/page.tsx
  apps/web/app/platform/page.tsx
  apps/web/app/systems/page.tsx
  apps/web/app/systems/showcase/page.tsx
  apps/web/app/tools/electroanalytical/page.tsx
  apps/web/components/3d/electroanalytical/ElectroanalyticalVisualization.tsx
  apps/web/components/3d/homepage/EnhancedBiofilmAnimation.tsx
  apps/web/components/3d/homepage/InteractiveMFCModel.tsx
  apps/web/components/3d/utils/animations.ts
  apps/web/components/Enhanced3DSystemModal.tsx
  apps/web/components/Enhanced3DSystemPanel.tsx
  apps/web/components/ExperimentChart.tsx
  apps/web/components/UnifiedSystemCard.tsx
  apps/web/components/onboarding/OnboardingWizard.tsx
  apps/web/components/unified/UnifiedDashboard.tsx
  apps/web/next.config.js
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  vercel.json
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

fix maybe
  package.json
Due: prettier --write

fix maybe 2
  vercel.json
Due: prettier --write

Add missing lucide-react dependency
  apps/web/package.json
Due: prettier --write

Fix database package configuration and build setup
  packages/@messai/database/package.json
  packages/@messai/database/project.json
  packages/@messai/database/tsup.config.ts
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

Update lockfile after database package changes
  pnpm-lock.yaml
Due: none

Fix database package exports and build configuration
  packages/@messai/database/package.json
  packages/@messai/database/tsup.config.ts
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

Fix all missing library exports and runtime errors
  apps/web/app/api/fuel-cell/comparison/route.ts
  apps/web/app/api/fuel-cell/control-simulation/route.ts
  apps/web/app/api/fuel-cell/optimization/route.ts
  apps/web/app/api/fuel-cell/predictions/route.ts
  apps/web/src/lib/citation-verifier.ts
  apps/web/src/lib/control-system-simulation.ts
  apps/web/src/lib/database-utils.ts
  apps/web/src/lib/fuel-cell-optimization.ts
  apps/web/src/lib/fuel-cell-predictions.ts
  apps/web/src/lib/types/fuel-cell-types.ts
  apps/web/src/lib/zen-browser.ts
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

Fix parameters page missing state and toggle functions
  apps/web/app/parameters/page.tsx
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

Fix SSG build errors in research/upload and systems pages
  apps/web/app/research/upload/page.tsx
  apps/web/app/systems/page.tsx
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: prettier --write

Fix critical TypeScript deployment issues
  apps/web/src/lib/parameters-data.ts
  apps/web/src/lib/unified-systems-catalog.ts
  reference/validation/validation-functions.ts
  scripts/pre-deployment-check.js
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

Fix pre-deployment check for interface export
  scripts/pre-deployment-check.js
Due: nx affected -t lint --fix, nx affected -t type-check, prettier --write

deployement ready they say
  docs/DEPLOYMENT_FIXES_SUMMARY.md
Due: prettier --write

Path conditions:
  nx affected -t lint --fix: any of: *.{js,jsx,ts,tsx}
  nx affected -t type-check: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
